.AppPage{
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(0, 161, 224), rgb(152, 218, 248));
}

.AppHeader{
    color: white;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 48px;
    text-align: center;
}

.AppBox{
    margin: 0;
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}