hr.PlaceListDivide{
    border: 1px solid rgb(0, 161, 224);
    width: 80%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.PlaceListHeader{
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 18pt;
}

.PlaceEntry{
    user-select: none;
    text-align: left;
    padding-left: 20pt;
    width: 100%;
    
    float: left;
    position: relative;
}

.PlaceEntry:hover{
    cursor: pointer;
    background-color: lightgray;
}

.PlaceEntry.active{
    background-color: rgb(72, 203, 255);
}

.PlaceContainer{
    display: flex;
}

.PlaceName{
    float: left;
    width: 75%;
    position: relative;
}

.FloatTrash{
    position: relative;
    float: right;
    padding-left: 15pt;

    width: 5%;
    /* align-self: center; /*Use to center trash icon*\/ */
}

.FloatTrash:hover{
    color: gray;
}