.closeWindowStyle{
    position: absolute;
    top: 2.5%;
    left: 92.5%;
    color: gray;
    user-select: none;
}

.closeWindowStyle:hover{
    color: darkgray;
}

.MarkerWindowTitle{
    background-color: rgb(72, 203, 255);
    padding: 10px;

    font-size: 14pt;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.MarkerWindowForm{
    padding: 10px;
}

.MarkerWindowForm label{
    user-select: none;
    margin: 3px
}

.MarkerWindowForm br{
    user-select: none;
}

.MarkerWindowForm input[type="submit"]{
    float: right;
}

.InputBox{
    display: flex;
    padding: 2px;
}

.InputBox input[type="text"]{
    flex-grow: 1;
}

.InputBox input[type="checkbox"]{
    margin: 3px;
}

.MarkerWindowStyle{
    position: relative;
    bottom: 320px;
    left: -40px;

    width: 300px;
    height: 275px;

    background-color: white;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    font-size: 14px;
    
    text-align: left;
    z-index: 199;
}

.MarkerWindowTail{
    position: relative;

    left: -10px;
    bottom: 35px;

    width: 20px;
    height: 20px;

    background-color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    transform: rotate(45deg);

    z-index: 200;
}

