.PlaceInputStyle{
    width: 100%
}

.PlaceDropdownStyle{
    z-index: 100;
}

.DropdownPlaceStyle{
    width: 100%;
    background-color: blue;
}

hr.DropdownBreakStyle{
    border: 1px solid;
    margin: 0;
    z-index: 101;
}